<div class="board-body">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">
                    HubAcademia
                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#/user/{{model.userId}}">Profile</a></li>
                    <li><a href="#/user/{{model.userId}}/literature">My Literature</a></li>
                    <li><a href="#/user/{{model.userId}}/search">Search</a></li>
                    <li><a href="#/user/{{model.userId}}/group">My Special Interest Groups</a></li>
                    <li><a ng-click="model.logout()">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li><a href="#/user/{{model.userId}}">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        Profile</a></li>
                    <li class="active"><a href="#/user/{{model.userId}}/literature">
                        <i class="fa fa-book" aria-hidden="true"></i>
                        My Literature</a></li>
                    <li><a href="#/user/{{model.userId}}/search">
                        <i class="fa fa-search" aria-hidden="true"></i>
                        Search</a></li>
                    <li><a href="#/user/{{model.userId}}/group">
                        <i class="fa fa-users" aria-hidden="true"></i>
                        My Special Interest Groups</a></li>
                </ul>
            </div>

            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

                <div class="book-detail-wrapper">

                    <h1 class="page-header">My Progress</h1>

                    <div ng-show="model.error" class="alert alert-danger alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <strong>{{model.error}}</strong>
                    </div>

                    <div class="progress">
                        <div id="progressbar"></div>
                    </div>


                    <form class="form-horizontal info-block">

                        <div class="form-group row">
                            <label for="date" class="col-md-2 control-label">Date:</label>
                            <div class="col-md-4">
                                <input ng-model="date"
                                       name="date"
                                       type="date"
                                       class="form-control"
                                       id="date"
                                       placeholder="Date">
                            </div>
                            <label for="chapter" class="col-md-1 control-label">Chapter:</label>
                            <div class="col-md-5">
                                <input ng-model="chapter"
                                       name="chapter"
                                       type="text"
                                       class="form-control"
                                       id="chapter"
                                       placeholder="The chapter you are reading">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="page" class="col-md-2 control-label">Page:</label>
                            <div class="col-md-10">
                                <input ng-model="page"
                                       name="page"
                                       type="number"
                                       class="form-control"
                                       id="page"
                                       placeholder="page you have just finished">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="remark" class="col-md-2 control-label">Remark:</label>
                            <div class="col-md-10">
                                <input ng-model="remark"
                                       name="remark"
                                       type="text"
                                       class="form-control"
                                       id="remark"
                                       placeholder="Remark">
                            </div>
                        </div>

                        <button class="btn btn-default btn-block edit-btn pull-right"
                                ng-click="model.addRecord(date, chapter, page, remark)"
                                type="submit">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                            Add
                        </button>

                    </form>

                    <div class="table">
                        <table class="table table-striped table-hover">
                            <thead>
                            <th>Date</th>
                            <th>Chapter</th>
                            <th>Page</th>
                            <th>Remark</th>
                            <th></th>
                            </thead>
                            <tbody>
                            <tr ng-repeat="record in model.progress.progress">
                                <td>{{record.date}}</td>
                                <td>{{record.chapter}}</td>
                                <td>{{record.page}}</td>
                                <td>{{record.remark}}</td>
                                <td ng-show="record"><span ng-click="model.removeRecord(record._id)" class="glyphicon glyphicon-remove validate-alert"></span></td>
                            </tr>
                            </tbody>
                        </table>

                    </div>


                </div>
            </div>

        </div>
    </div>
</div>

