/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
.board-body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 0 20px 0 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #E8E8E8;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
  margin-top: 0;
}
.nav-sidebar > li > a {
  color: #44B3C2;
  font-size: 16px;
  padding-right: 20px;
  padding-left: 20px;
}

.nav-sidebar > li > a:hover {
  color: #44B3C2;
  background-color: #fff;
  border-radius: 5px;

}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #44B3C2;
  border-radius: 3px;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


.form-group .btn-danger {
  margin-bottom: 3px;
}

/*search result content*/
.content{
  display:inline;
  margin-left: 8px;
  padding-left: 30px;
  padding-top: 10px;
}

.content ul{
  float:left;
}

.content ul li{
  width: 220px;
  height: 410px;
  display:inline;
  float:left;
  margin:0 30px 30px 35px;
  overflow: scroll;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
  padding: 20px 10px 10px 10px;
  background-color: #fff;
  border-radius: 5px;
}

.content ul li dt span{
  color: #F43B3B;
}

.content ul li dt{
  /*height:auto;*/
  margin: 0;
  display:inline;
  float:left;
  padding-left: 35px;
  padding-bottom: 10px;
}

.content ul li dd{
  margin: 0;
  display:inline;
  float:left;
}

.book_title a{
  text-decoration: none;
  color: rgb(156, 38, 50);
  font-size: 16px;
}

.book_title a:hover{
  text-decoration: none;
  color: rgb(156, 38, 50);
  font-size: 16px;
  font-weight: 500;
}

/*literature detail*/
.book-detail-wrapper {
  margin: 20px 10px 20px 10px;
}

.book-detail-title {
  color: rgb(219, 69, 32);
}

.book-detail-thumbnail {
  box-shadow: 1px 2px 1px rgba(0, 0, 0, .5);
  width: 128px;
  margin: auto;
}

.bold {
  font-weight: bold;
}

.book-detail-author {
  color: rgb(87, 96, 105);
  font-size: 20px;
}

.book-detail-info {
  color: rgb(87, 96, 105);
  font-size: 16px;
}

.book-detail-header {
  font-size: 24px;
  font-weight: normal;
}

.info-block {
  margin: 15px 0 15px 0;
}

.edit-btn {
  width: 200px;
  margin: auto;
}

/*review*/
.review-block {
  overflow: scroll;
  height: 400px;
  padding: 40px;
  border-radius: 5px;
  margin: 30px 0 30px 0;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .5);
}

.no-underline {
  text-decoration: none;
}