<div class="home-page-body">
    <div id="wrapper">
        <!-- start header -->
        <header>
            <div class="navbar navbar-default navbar-static-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button"
                                class="navbar-toggle"
                                data-toggle="collapse"
                                data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a name="top" class="navbar-brand" href="#/">
                            <img style='width: 50%;' id="logo" src="img/logo.png" alt="logo"/>
                        </a>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li><a href="#/register">Sign Up</a></li>
                            <li><a href="#/login">Login</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <!-- end header -->
        <section id="welcome">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <h2>Welcome !</h2>
                        <p>
                            It all starts with an idea.
                            You can pick up a research paper or any literature, establish your first progress management, create
                            a research group, share your every piece of reading experience with your fellow researchers.
                        </p>
                    </div>
                    <div class="col-md-3 text-center">
                    </div>
                </div>
            </div>
        </section>

        <section id="searchbar">
            <div class="container">
                <h2>Journal Search</h2>
                <p class="font-size-18">
                    Type in the name or keyword of your research. Sign-up for access to advanced searching tool. (Powered by Google Books API)
                </p>
                <form name="searchForm" novalidate>
                    <div class="input-group">
                        <input name="text" ng-model="searchText" type="text" class="form-control" placeholder="Just try it ... " required>
                    <span class="input-group-btn">
                        <button ng-click="model.quickSearch(searchText)" class="btn btn-danger" type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                    </div>
                    <span class="fa fa-exclamation-triangle validate-alert"
                          ng-show="searchForm.$submitted && !searchForm.text.$viewValue">
                        Please do not leave it blank.
                    </span>
                </form>
            </div>
            <div class="container">
                <p ng-show="model.totalNum" class="quick-search-motice">You will have access to a total of {{model.totalNum}} related books if you join us. </p>
                <div class="row">
                    <ul>
                        <li ng-repeat="book in model.books">
                            <dl>
                                <dt>
                                    <img width="128px" height="150px" ng-src="{{book.smallThumbnail}}" alt="book"/>
                                </dt>
                                <dd>
                                    <p class="book_title">
                                        {{model.getTitle(book)}}
                                    </p>
                                    <p class="book_author">{{model.getAuthors(book)}}</p>
                                    <p class="book_publisher">{{book.publisher}}</p>
                                    <a class="btn btn-default btn-block" href="#/register">MORE</a>
                                </dd>
                            </dl>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

        <section id="features">
            <div class="container">
                <div class="row">
                    <div class="skill-home">
                        <div class="col-md-4 text-center">
                            <span class="icons"><i class="fa fa-info-circle" aria-hidden="true"></i></span>
                            <div class="box-area">
                                <h2>Journal Information</h2>
                                <p>
                                    Researchers may have full access to journal/literature information, which helps
                                    int quickly target the very material desired. Based on the information, the
                                    researcher can manage his/her progress when reading the book.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4 text-center">
                            <span class="icons"><i class="fa fa-comments" aria-hidden="true"></i></span>
                            <div class="box-area">
                                <h2>Literature Review</h2>
                                <p>
                                    As a researcher, you will have access to journal/research paper reviews
                                    and rating from other researchers. You could post your own book reviews and
                                    share your insight.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4 text-center">
                            <span class="icons"><i class="fa fa-calendar-check-o" aria-hidden="true"></i></span>
                            <div class="box-area">
                                <h2>Interaction</h2>
                                <p>
                                    Leader of a research group can publish questions for group members to
                                    answer and discuss, which encourages members to read on a frequent basis.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="widget">
                            <h5 class="widgetheading">Developer</h5>
                            <strong>Animesh Pandey</strong><br>
                            <address>
                                College of Computer and Information Science, Northeastern University <br> Boston, MA, 02115.
                            </address>
                            <p>
                                <i class="fa fa-envelope-o" aria-hidden="true"></i> pandey.an@husky.neu.edu
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="widget">
                            <h5 class="widgetheading">Source Code</h5>
                            <a href="https://bitbucket.org/animeshpandey/hubacademia" data-placement="vc"
                               title="BitBucket" style="font-size: 50px" target="_blank">
                                <i class="fa fa-bitbucket" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="widget">
                            <h5 class="widgetheading">Quick Links</h5>
                            <ul class="link-list">
                                <li><a href="#/register">Sign Up</a></li>
                                <li><a href="#/login">Login</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div id="sub-footer">
                <div class="container">
                    <div class="row text-center">
                        <ul class="social-network">
                            <li>
                                <a href="https://www.facebook.com/apanimesh061" data-placement="top"
                                   title="Facebook"  style="font-size: 20px" target="_blank">
                                    <i class="fa fa-facebook-square" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/in/animeshpandey" data-placement="top"
                                   title="Linkedin" style="font-size: 20px" target="_blank">
                                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>

        <!--<a href="#top" class="scrollup"><i class="fa fa-angle-up active"></i></a>-->

    </div>
</div>

