<div class="board-body">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">
                    HubAcademia
                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#/user/{{model.userId}}">Profile</a></li>
                    <li><a href="#/user/{{model.userId}}/literature">My Literature</a></li>
                    <li><a href="#/user/{{model.userId}}/search">Search</a></li>
                    <li><a href="#/user/{{model.userId}}/group">My Special Interest Groups</a></li>
                    <li><a ng-click="model.logout()">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li><a href="#/user/{{model.userId}}">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        Profile</a></li>
                    <li><a href="#/user/{{model.userId}}/literature">
                        <i class="fa fa-book" aria-hidden="true"></i>
                        My Literature</a></li>
                    <li><a href="#/user/{{model.userId}}/search">
                        <i class="fa fa-search" aria-hidden="true"></i>
                        Search</a></li>
                    <li class="active"><a href="#/user/{{model.userId}}/group">
                        <i class="fa fa-users" aria-hidden="true"></i>
                        My Special Interest Groups</a></li>
                </ul>
            </div>

            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

                <div class="book-detail-wrapper">
                    <h1 class="page-header">Discussion</h1>

                    <div ng-repeat="review in model.reviews">
                        <div class="review-block">
                            <div class="book-detail-author">
                                <i class="fa fa-user" aria-hidden="true"></i> {{review.reviewerName}}: {{review.rating}}
                                <a ng-show="review.reviewerName === model.username"
                                   href="#/user/{{model.userId}}/literature/{{model.bookId}}/group/{{model.groupId}}/review/{{review._id}}">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                </a>
                                <span ng-show="review.reviewerName === model.username"
                                      class="glyphicon glyphicon-remove pull-right validate-alert"
                                      ng-click="model.deleteReview(review._id)"></span>
                                <hr>
                            </div>

                            <div ng-bind-html="model.getReview(review.review)"></div><hr>

                            <div ng-repeat="followup in review.followUps">
                                <div>
                                    <i class="fa fa-user" aria-hidden="true"></i>{{followup.username}} follows:
                                    <span ng-show="followup.username === model.username"
                                          class="glyphicon glyphicon-remove pull-right validate-alert"
                                          ng-click="model.deleteFollowUp(review._id, followup._id)"></span>
                                </div>
                                <div>
                                    <p>{{followup.comment}}</p>
                                </div>
                            </div>

                            <form name="followForm" novalidate>
                                <div class="form-group">
                                    <textarea name="followup" ng-model="followUpText" rows="3" class="form-control"></textarea>
                                </div>
                                <div class="form-group">
                                    <button ng-click="model.followUp(review._id, followUpText)"
                                            class="btn btn-default btn-block edit-btn pull-right"
                                            type="submit">
                                        <i class="fa fa-paper-plane-o" aria-hidden="true"></i>Follow up
                                    </button>
                                    <span class="fa fa-exclamation-triangle validate-alert"
                                          ng-show="followForm.$submitted && !followForm.followup.$viewValue">
                                        Please do not leave it blank.
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>


                    <a href="#/user/{{model.userId}}/literature/{{model.bookId}}/group/{{model.groupId}}/new_review"
                       class="btn btn-default edit-btn pull-left">
                        <i class="fa fa-thumb-tack" aria-hidden="true"></i>
                        New review
                    </a>



                </div>
            </div>

        </div>
    </div>
</div>

