<div class="board-body">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">
                    HubAcademia
                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#/user/{{model.userId}}">Profile</a></li>
                    <li><a href="#/user/{{model.userId}}/literature">My Literature</a></li>
                    <li><a href="#/user/{{model.userId}}/search">Search</a></li>
                    <li><a href="#/user/{{model.userId}}/group">My Special Interest Groups</a></li>
                    <li><a ng-click="model.logout()">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li><a href="#/user/{{model.userId}}">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        Profile</a></li>
                    <li><a href="#/user/{{model.userId}}/literature">
                        <i class="fa fa-book" aria-hidden="true"></i>
                        My Literature</a></li>
                    <li><a href="#/user/{{model.userId}}/search">
                        <i class="fa fa-search" aria-hidden="true"></i>
                        Search</a></li>
                    <li class="active"><a href="#/user/{{model.userId}}/group">
                        <i class="fa fa-users" aria-hidden="true"></i>
                        My Special Interest Groups</a></li>
                </ul>
            </div>

            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

                <div class="book-detail-wrapper">

                    <h1 class="page-header">My Special Interest Groups</h1>
                    <span class="help-block">I am the leader.</span>


                    <div ng-repeat="group in model.myOwnedGroups">
                        <hr>
                        <div class="info-block">
                            <div class="form-group row">
                                <div class="col-md-3">
                                    <div class="book-detail-thumbnail">
                                        <img width="128px"
                                             height="150px"
                                             ng-src="{{group.bookSmallThumbnail}}">
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <h2 class="book-detail-title">{{group.groupName}}</h2>
                                    <h3 class="book-detail-author">{{group.bookTitle}}</h3>
                                    <p class="book-detail-info">members #: {{group.members.length+1}}</p>
                                </div>
                            </div>
                            <a href="#/user/{{model.userId}}/literature/{{group.bookId}}/group/{{group._id}}"
                               class="btn btn-default btn-block">
                                <i class="fa fa-comments" aria-hidden="true"></i>
                                Discussion
                            </a>
                            <a href="#/user/{{model.userId}}/literature/{{group.bookId}}/group/{{group._id}}/config_group"
                               class="btn btn-default btn-block">
                                <span class="glyphicon glyphicon-cog"></span>
                                Configure
                            </a>
                            <a ng-click="model.dismissGroup(group._id)" class="btn btn-danger btn-block">
                                <span class="glyphicon glyphicon-remove"></span>
                                Dismiss
                            </a>
                        </div>
                    </div>

                    <hr>

                    <h1 class="page-header">Reading Groups</h1>
                    <span class="help-block">I am one member.</span>


                    <div ng-repeat="group in model.groupsIamIn">
                        <hr>
                        <div class="info-block">
                            <div class="form-group row">
                                <div class="col-md-3">
                                    <div class="book-detail-thumbnail">
                                        <img width="128px"
                                             height="150px"
                                             ng-src="{{group.bookSmallThumbnail}}">
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <h2 class="book-detail-title">{{group.groupName}}</h2>
                                    <h3 class="book-detail-author">{{group.bookTitle}}</h3>
                                    <p class="book-detail-info">members #: {{group.members.length+1}}</p>
                                </div>
                            </div>
                            <a href="#/user/{{model.userId}}/literature/{{group.bookId}}/group/{{group._id}}"
                               class="btn btn-default btn-block">
                                <i class="fa fa-comments" aria-hidden="true"></i>
                                Discussion
                            </a>
                            <a ng-click="model.leaveGroup(group._id)" class="btn btn-danger btn-block">
                                <i class="fa fa-sign-out" aria-hidden="true"></i>
                                Leave
                            </a>
                        </div>
                    </div>




                </div>
            </div>

        </div>
    </div>
</div>

