<div class="board-body">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">
                    HubAcademia
                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#/user/{{model.userId}}">Profile</a></li>
                    <li><a href="#/user/{{model.userId}}/literature">My Literature</a></li>
                    <li><a href="#/user/{{model.userId}}/search">Search</a></li>
                    <li><a href="#/user/{{model.userId}}/group">My Special Interest Groups</a></li>
                    <li><a ng-click="model.logout()">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li><a href="#/user/{{model.userId}}">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        Profile</a></li>
                    <li><a href="#/user/{{model.userId}}/literature">
                        <i class="fa fa-book" aria-hidden="true"></i>
                        My Literature</a></li>
                    <li><a href="#/user/{{model.userId}}/search">
                        <i class="fa fa-search" aria-hidden="true"></i>
                        Search</a></li>
                    <li class="active"><a href="#/user/{{model.userId}}/group">
                        <i class="fa fa-users" aria-hidden="true"></i>
                        My Special Interest Groups</a></li>
                </ul>
            </div>

            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

                <div class="book-detail-wrapper">
                    <h1 class="page-header">New Group</h1>
                    <h2 class="page-header book-detail-header">Create for {{model.bookTitle}}?</h2>

                    <div ng-show="model.error" class="alert alert-danger alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <strong>{{model.error}}</strong>
                    </div>

                    <form name="newGroupForm" class="form-horizontal" novalidate>

                        <div class="form-group">
                            <label for="group_name" class="col-sm-2 control-label">Group Name:</label>
                            <div class="col-sm-10">
                                <input ng-model="groupName"
                                       name="groupName"
                                       type="text"
                                       class="form-control"
                                       id="group_name"
                                       placeholder="Group Name, required"
                                       required>
                                <span class="fa fa-exclamation-triangle validate-alert"
                                      ng-show="newGroupForm.$submitted && !newGroupForm.groupName.$viewValue">
                                    Please do not leave it blank.
                                </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="group_mem" class="col-sm-2 control-label">Group Members:</label>
                            <div class="col-sm-10">
                                <div class="input-group">
                                    <input name="text"
                                           ng-model="searchUsername"
                                           id="group_mem"
                                           type="text"
                                           class="form-control"
                                           placeholder="Input username ... "
                                           required>
                                <span class="input-group-btn">
                                    <a ng-click="model.addMember(searchUsername)" class="btn btn-default">
                                        <span class="glyphicon glyphicon-plus"></span>
                                    </a>
                                </span>
                                </div>
                            </div>
                        </div>

                        <table class="table table-striped table-hover">
                            <thead>
                            <th>Username</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th></th>
                            </thead>
                            <tbody>
                            <tr ng-repeat="user in model.members">
                                <td>{{user.username}}</td>
                                <td>{{user.firstName}}</td>
                                <td>{{user.lastName}}</td>
                                <td ng-show="user"><span ng-click="model.removeTmpUser(user.username)" class="glyphicon glyphicon-remove validate-alert"></span></td>
                            </tr>
                            </tbody>
                        </table>

                        <button type="submit"
                                class="btn btn-default btn-block"
                                ng-click="model.createGroup(groupName)">
                            <i class="fa fa-thumb-tack" aria-hidden="true"></i>
                            Create
                        </button>
                        <a class="btn btn-danger btn-block"
                           href="#/user/{{model.userId}}/literature/{{model.bookId}}">
                            Cancel
                        </a>

                    </form>



                </div>
            </div>

        </div>
    </div>
</div>

