<div class="board-body">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">
                    HubAcademia
                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#/user/{{model.userId}}">Profile</a></li>
                    <li><a href="#/user/{{model.userId}}/literature">My Literature</a></li>
                    <li><a href="#/user/{{model.userId}}/search">Search</a></li>
                    <li><a href="#/user/{{model.userId}}/group">My Special Interest Groups</a></li>
                    <li><a ng-click="model.logout()">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li><a href="#/user/{{model.userId}}">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        Profile</a></li>
                    <li class="active"><a href="#/user/{{model.userId}}/literature">
                        <i class="fa fa-book" aria-hidden="true"></i>
                        My Literature</a></li>
                    <li><a href="#/user/{{model.userId}}/search">
                        <i class="fa fa-search" aria-hidden="true"></i>
                        Search</a></li>
                    <li><a href="#/user/{{model.userId}}/group">
                        <i class="fa fa-users" aria-hidden="true"></i>
                        My Special Interest Groups</a></li>
                </ul>
            </div>

            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

                <div class="book-detail-wrapper">

                    <div ng-show="model.error" class="alert alert-danger alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <strong>{{model.error}}</strong>
                    </div>

                    <h1 class="page-header">New Review</h1>

                    <form name="newReviewForm" novalidate>
                        <div class="form-group">
                            <label for="rating" class="label-control">Rating:</label>
                            <select ng-model="rating" id="rating" class="form-control">
                                <option value="Not recommended">Not recommended</option>
                                <option value="Umm...">Umm...</option>
                                <option value="Just so so">Just so so</option>
                                <option value="Good">Good</option>
                                <option value="Splendid">Splendid</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <div ng-model="review"
                                 name="review"
                                 required
                                 text-angular
                                 ta-toolbar="[['h1','h2','h3'],['p','quote'],['bold','italics','underline','strikeThrough'],
                     ['ul','ol'],['undo','redo'],['justifyLeft','justifyCenter','justifyRight','justifyFull'],
                     ['indent','outdent'],['html']]">
                            </div>
                            <span class="fa fa-exclamation-triangle validate-alert"
                                  ng-show="newReviewForm.$submitted && !newReviewForm.review.$viewValue">
                                    Please do not leave it blank.
                            </span>
                        </div>

                        <div class="form-group">
                            <button type="submit"
                                    class="btn btn-default btn-block"
                                    ng-click="model.createNewReview(rating, review)">
                                <i class="fa fa-floppy-o" aria-hidden="true"></i>
                                Post
                            </button>
                            <a class="btn btn-danger btn-block"
                               href="#/user/{{model.userId}}/literature/{{model.bookId}}/group/{{model.groupId}}">
                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                                Cancel
                            </a>
                        </div>

                    </form>

                </div>
            </div>

        </div>
    </div>
</div>

