<div class="board-body">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">
                    HubAcademia
                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#/user/{{model.userId}}">Profile</a></li>
                    <li><a href="#/user/{{model.userId}}/literature">My Literature</a></li>
                    <li><a href="#/user/{{model.userId}}/search">Search</a></li>
                    <li><a href="#/user/{{model.userId}}/group">My Special Interest Groups</a></li>
                    <li><a ng-click="model.logout()">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li><a href="#/user/{{model.userId}}">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        Profile</a></li>
                    <li class="active"><a href="#/user/{{model.userId}}/literature">
                        <i class="fa fa-book" aria-hidden="true"></i>
                        My Literature</a></li>
                    <li><a href="#/user/{{model.userId}}/search">
                        <i class="fa fa-search" aria-hidden="true"></i>
                        Search</a></li>
                    <li><a href="#/user/{{model.userId}}/group">
                        <i class="fa fa-users" aria-hidden="true"></i>
                        My Special Interest Groups</a></li>
                </ul>
            </div>

            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

                <div ng-show="model.error" class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <strong>{{model.error}}</strong>
                </div>

                <div class="book-detail-wrapper">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="book-detail-thumbnail">
                                <img width="128px"
                                     height="150px"
                                     ng-src="{{model.book.smallThumbnail}}">
                            </div>
                        </div>
                        <div class="col-md-9">
                            <h2 class="book-detail-title">{{model.getTitle(model.book.title, model.book.subtitle)}}</h2>
                            <h3 class="book-detail-author">{{model.getAuthors(model.book.authors, model.book.authors.length)}}</h3>
                            <p class="book-detail-info">{{model.book.publisher}}</p>
                        </div>
                    </div>

                    <div class="info-block">
                        <hr>
                        <h2 class="page-header book-detail-header">Volume Information</h2>
                        <div class="row">
                            <div class="col-sm-3 bold"><p>Title</p></div>
                            <div class="col-sm-9"><p>{{model.book.title}}</p></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 bold"><p>Subtitle</p></div>
                            <div class="col-sm-9"><p>{{model.book.subtitle}}</p></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 bold"><p>Publisher</p></div>
                            <div class="col-sm-9"><p>{{model.book.publisher}}</p></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 bold"><p>Published Date</p></div>
                            <div class="col-sm-9"><p>{{model.book.publishedDate}}</p></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 bold"><p>Author(s)</p></div>
                            <div class="col-sm-9"><p>{{model.getAuthors(model.book.authors, model.book.authors.length)}}</p></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 bold"><p>Page Count</p></div>
                            <div class="col-sm-9"><p>{{model.book.pageCount}}</p></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 bold"><p>Industrial Identifier</p></div>
                            <div class="col-sm-9">
                                <p>{{model.getIndustrialIdentifier(model.book.identifier, model.book.identifierType)}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 bold"><p>Google Books Preview</p></div>
                            <div class="col-sm-9">
                                <a href="{{model.book.previewLink}}"><p>Preview Link</p></a>
                            </div>
                        </div>
                        <hr>
                    </div>

                    <div class="info-block">
                        <h2 class="page-header book-detail-header">Description</h2>
                        <p>{{model.book.description}}</p>
                        <hr>
                    </div>

                    <div class="info-block">
                        <a class="btn btn-default btn-block"
                           href="#/user/{{model.userId}}/literature/{{model.book.bookId}}/progress">
                            <i class="fa fa-line-chart" aria-hidden="true"></i>
                            Progress management
                        </a>
                        <a class="btn btn-default btn-block"
                           href="#/user/{{model.userId}}/literature/{{model.book.bookId}}/new_group">
                            <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                            Create Reading Group
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

