<div class="board-body">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">
                    HubAcademia
                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#/user/{{model.user._id}}">Profile</a></li>
                    <li><a href="#/user/{{model.user._id}}/literature">My Literature</a></li>
                    <li><a href="#/user/{{model.user._id}}/search">Search</a></li>
                    <li><a href="#/user/{{model.user._id}}/group">My Special Interest Groups</a></li>
                    <li><a ng-click="model.logout()">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li><a href="#/user/{{model.userId}}">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        Profile</a></li>
                    <li><a href="#/user/{{model.userId}}/literature">
                        <i class="fa fa-book" aria-hidden="true"></i>
                        My Literature</a></li>
                    <li class="active"><a href="#/user/{{model.userId}}/search">
                        <i class="fa fa-search" aria-hidden="true"></i>
                        Search</a></li>
                    <li><a href="#/user/{{model.userId}}/group">
                        <i class="fa fa-users" aria-hidden="true"></i>
                        My Special Interest Groups</a></li>
                </ul>
            </div>

            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <h1 class="page-header">Advanced Search</h1>
                <form name="searchForm" class="form-horizontal" novalidate>

                    <div class="form-group row">
                        <label for="keyWord" class="col-sm-2 control-label">Key Word:</label>
                        <div class="col-sm-10">
                            <input ng-model="keyWord"
                                   name="keyWord"
                                   type="text"
                                   class="form-control"
                                   id="keyWord"
                                   placeholder="key word of the book, required"
                                   required>
                            <span class="fa fa-exclamation-triangle validate-alert"
                                  ng-show="searchForm.$submitted && !searchForm.keyWord.$viewValue">
                                Please do not leave it blank.
                            </span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="title" class="col-sm-2 control-label">Title:</label>
                        <div class="col-sm-10">
                            <input ng-model="bookTitle"
                                   type="text"
                                   class="form-control"
                                   id="title"
                                   placeholder="information of the book title">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="ISBN" class="col-sm-2 control-label">ISBN:</label>
                        <div class="col-sm-10">
                            <input ng-model="ISBN"
                                   type="text"
                                   class="form-control"
                                   id="ISBN"
                                   placeholder="ISBN, the industrial identity of the book">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="publisher" class="col-sm-2 control-label">Publisher:</label>
                        <div class="col-sm-4">
                            <input ng-model="publisher"
                                   type="text"
                                   class="form-control"
                                   id="publisher"
                                   placeholder="publisher">
                        </div>
                        <label for="author" class="col-sm-1 control-label">Author:</label>
                        <div class="col-sm-5">
                            <input ng-model="author"
                                   type="text"
                                   class="form-control"
                                   id="author"
                                   placeholder="author of the book">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="maxNum" class="col-sm-2 control-label">Max Number:</label>
                        <div class="col-sm-4">
                            <input ng-model="maxNum"
                                   name="maxNum"
                                   type="number"
                                   class="form-control"
                                   id="maxNum"
                                   placeholder="maximum number of results returned">
                            <span class="help-block">The number ranges from 1 to 40.</span>
                            <span class="fa fa-exclamation-triangle validate-alert"
                                  ng-show="searchForm.$submitted && searchForm.maxNum.$viewValue > 40">
                            Number out of range.
                            </span>
                            <span class="fa fa-exclamation-triangle validate-alert"
                                  ng-show="searchForm.$submitted && searchForm.maxNum.$viewValue < 1">
                            Number out of range.
                            </span>
                        </div>
                        <label for="subject" class="col-sm-1 control-label">subject:</label>
                        <div class="col-sm-5">
                            <input ng-model="subject"
                                   type="text"
                                   class="form-control"
                                   id="subject"
                                   placeholder="subject of the book">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit"
                                    class="btn btn-danger btn-block"
                                    ng-click="model.advancedSearch({
                            keyWord: keyWord,
                            bookTitle: bookTitle,
                            ISBN: ISBN,
                            publisher: publisher,
                            author: author,
                            maxNum: maxNum,
                            subject: subject})">
                                Search
                            </button>
                        </div>
                    </div>
                </form>

                <h1 ng-show="model.books" class="page-header">Result</h1>

                <div class="content">
                    <ul>
                        <li ng-repeat="book in model.books">
                            <dl>
                                <dt>
                                    <img width="128px" height="150px" ng-src="{{book.smallThumbnail}}" alt="book"/>
                                </dt>
                                <dd>
                                    <p class="book_title">{{model.getTitle(book)}}</p>
                                    <p class="book_author">{{model.getAuthors(book)}}</p>
                                    <p class="book_publisher">{{book.publisher}}</p>
                                    <a class="btn btn-default btn-block edit-btn" ng-click="model.followBook(book)">Follow</a>
                                </dd>
                            </dl>
                        </li>
                    </ul>
                </div>



            </div>
        </div>
    </div>
</div>