<div id="wrapper">
    <!-- start header -->
    <header>
        <div class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button"
                            class="navbar-toggle"
                            data-toggle="collapse"
                            data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a name="top" class="navbar-brand" href="#/">
                        <img style='width: 50%;' id="logo" src="img/logo.png" alt="logo"/>
                    </a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="#/">Home</a></li>
                        <li><a href="#/register">Sign Up</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <!-- end header -->

    <section id="login-welcome">
        <div class="container">
            <h1 class="page-header">
                <a href="#/">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                Login</h1>
            <form name="loginForm" novalidate>
                <div ng-show="model.error" class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <strong>{{model.error}}</strong>
                </div>
                <div class="form-group">
                    <label class="label-control" for="username_sign_up">Username</label>
                    <input ng-model="username"
                           name="username"
                           type="text"
                           class="form-control"
                           id="username_sign_up"
                           placeholder="Input your username here.">
                    <span class="fa fa-exclamation-triangle validate-alert"
                          ng-show="loginForm.$submitted && !username">
                        Username should not be empty.
                    </span>
                </div>
                <div class="form-group">
                    <label class="label-control" for="password_sign_up">Password</label>
                    <input ng-model="password"
                           name="password"
                           type="password"
                           class="form-control"
                           id="password_sign_up"
                           placeholder="Input your password here.">
                    <span class="fa fa-exclamation-triangle validate-alert"
                          ng-show="loginForm.$submitted && !password">
                        Password should not be empty.
                    </span>
                </div>
                <div class="form-group">
                    <button type="submit"
                            class="btn btn-primary btn-block"
                            ng-click="model.login(username, password)">Login</button>
                    <a class="btn btn-primary btn-block" href="#/">Cancel</a>
                    <a class="btn btn-primary btn-block" href="/auth/google">Login with
                        <i class="fa fa-google" aria-hidden="true"></i>oogle
                    </a>
                </div>
            </form>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="widget">
                        <h5 class="widgetheading">Developer</h5>
                        <strong>Animesh Pandey</strong><br>
                        <address>
                            College of Computer and Information Science, Northeastern University <br> Boston, MA, 02115.
                        </address>
                        <p>
                            <i class="fa fa-envelope-o" aria-hidden="true"></i> pandey.an@husky.neu.edu
                        </p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="widget">
                        <h5 class="widgetheading">Quick Links</h5>
                        <ul class="link-list">
                            <li><a href="#/register">Sign Up</a></li>
                            <li><a href="#login">Login</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="sub-footer">
            <div class="container">
                <div class="row text-center">
                    <ul class="social-network">
                        <li>
                            <a href="https://www.facebook.com/apanimesh061" data-placement="top" title="Facebook">
                                <i class="fa fa-facebook-official" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/animeshpandey" data-placement="top" title="Linkedin">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</div>
