<div class="board-body">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">
                    HubAcademia
                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#/user/{{model.user._id}}">Profile</a></li>
                    <li><a href="#/user/{{model.user._id}}/literature">My Literature</a></li>
                    <li><a href="#/user/{{model.user._id}}/search">Search</a></li>
                    <li><a href="#/user/{{model.user._id}}/group">My Special Interest Groups</a></li>
                    <li><a ng-click="model.logout()">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li class="active"><a href="#/user/{{model.user._id}}">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        Profile</a></li>
                    <li><a href="#/user/{{model.user._id}}/literature">
                        <i class="fa fa-book" aria-hidden="true"></i>
                        My Literature</a></li>
                    <li><a href="#/user/{{model.user._id}}/search">
                        <i class="fa fa-search" aria-hidden="true"></i>
                        Search</a></li>
                    <li><a href="#/user/{{model.user._id}}/group">
                        <i class="fa fa-users" aria-hidden="true"></i>
                        My Special Interest Groups</a></li>
                </ul>
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <h1 class="page-header">Profile</h1>

                <div ng-show="model.success" class="alert alert-success" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <strong>{{model.success}}</strong>
                </div>
                <div ng-show="model.error" class="alert alert-danger" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <strong>{{model.error}}</strong>
                </div>

                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="username_profile" class="col-sm-2 control-label">Username:</label>
                        <div class="col-sm-10">
                            <span id="username_profile" class="form-control uneditable-input">
                                {{model.user.username}}
                            </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="favorite_profile" class="col-sm-2 control-label">Favorite type:</label>
                        <div class="col-sm-10">
                            <select ng-model="model.user.favoriteType"
                                    id="favorite_profile"
                                    class="form-control">
                                <option value="t0">None</option>
                                <option value="t1">Science fiction</option>
                                <option value="t2">Satire</option>
                                <option value="t3">Drama</option>
                                <option value="t4">Action and Adventure</option>
                                <option value="t5">Romance</option>
                                <option value="t6">Mystery</option>
                                <option value="t7">Horror</option>
                                <option value="t8">Self help</option>
                                <option value="t9">Health</option>
                                <option value="t10">Guide</option>
                                <option value="t11">Travel</option>
                                <option value="t12">Children's</option>
                                <option value="t13">Religion, Spirituality &amp; New Age</option>
                                <option value="t14">Science</option>
                                <option value="t15">History</option>
                                <option value="t16">Math</option>
                                <option value="t17">Anthology</option>
                                <option value="t18">Poetry</option>
                                <option value="t19">Encyclopedias</option>
                                <option value="t20">Dictionaries</option>
                                <option value="t21">Comics</option>
                                <option value="t22">Art</option>
                                <option value="t23">Cookbooks</option>
                                <option value="t24">Diaries</option>
                                <option value="t25">Journals</option>
                                <option value="t26">Prayer books</option>
                                <option value="t27">Series</option>
                                <option value="t28">Trilogy</option>
                                <option value="t29">Biographies</option>
                                <option value="t30">Autobiographies</option>
                                <option value="t31">Fantasy</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="firstname_profile" class="col-sm-2 control-label">First Name:</label>
                        <div class="col-sm-10">
                            <input ng-model="model.user.firstName"
                                   type="text"
                                   class="form-control"
                                   id="firstname_profile"
                                   placeholder="First Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="lastname_profile" class="col-sm-2 control-label">Last Name:</label>
                        <div class="col-sm-10">
                            <input ng-model="model.user.lastName"
                                   type="text"
                                   class="form-control"
                                   id="lastname_profile"
                                   placeholder="Last Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email_profile" class="col-sm-2 control-label">Email:</label>
                        <div class="col-sm-10">
                            <input ng-model="model.user.email"
                                   type="email"
                                   class="form-control"
                                   id="email_profile"
                                   placeholder="Email">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <a ng-click="model.updateUser(model.user)" class="btn btn-danger btn-block">Update</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>